{% extends 'Shop/base.html' %}

{% block content %}
<center>
    <h1>Wszystkie produkty</h1>
    {% for product in all_products %}
    <div class="card">
        <div class="card-header">
    {% for category in product.category.all %}
      <strong>{{ category }}</strong>
      {% endfor %}
        </div>
    <div class="card-body">
        <h3 class="card-title">{{ product }}</h3>
        <p class="card-text"><ul>
            <strong>Kategoria: </strong>{{ product.category }}<br/>
            <strong>Opis: </strong>{{ product.description }}<br/>
            <strong>Cena: </strong>{{ product.estimated_price }}zł<br/>
    </ul>
        <div>
            <button type="button" class="btn btn-primary btn-sm">
                <a class="nav-link" href="{% url 'show-product' product.id %}">Zobacz produkt</a>
            </button>
        </div>
        </p>
    </div>
    </div>
        <br/>
    {% endfor %}
</center>

{% endblock %}